
<ion-header class="header">
  <ion-toolbar style="--background: transparent;">
    <ion-button slot="start" fill="none" (click)="closeChat()">
      <ion-icon style="color: white;"name="close">

      </ion-icon>
    </ion-button>
    <ion-title style="white-space: pre-wrap !important;color: white;"class="ion-text-center">
      {{chat.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content #content class="contenido ion-padding scroll">
  <ion-list *ngIf="room" style="background: transparent !important;" >
    <div *ngFor="let fech of fechas">

      <div class="chat-status ion-text-center">
          <span class="chat-content-center">{{fech}}</span>
        </div> 
        
         <div *ngFor="let mensaje of messages"  no-lines>
          <div class="chat-message" text-right *ngIf="mensaje.id == uid_session && mensaje.fecha==fech">
            <div class="right-bubble chat-status">
              <span class="msg-name">tu |  {{mensaje.date}}</span>
              <span class="conten"text-wrap>{{mensaje.content}}</span>
            </div>
          </div>
          <div class="chat-message" text-left *ngIf="mensaje.id != uid_session && mensaje.fecha==fech">
            <div class="left-bubble chat-status">
              <span class="msg-name">{{mensaje.name}} |  {{mensaje.date}}</span>
              <span class="conten"text-wrap>{{mensaje.content}}</span>
            </div>
          </div>
          <p></p>
        </div> 
    </div>
  </ion-list>
</ion-content>


<ion-footer> 
  <span>
    <ion-icon (click)="emogis($event)"class="" style="color:#c7e5ee;font-size: 30px !important;" slot="start"  name="happy-outline">
    </ion-icon>
  </span>
  <span class="text-area">
    <textarea id="caja_texto" name="textarea" rows="10" cols="50"  placeholder="Escribe un mensaje..." fill="underline" [(ngModel)]="msg"></textarea>

    <!-- <ion-textarea  class="caja_texto" placeholder="Escribe un mensaje..." fill="underline" [(ngModel)]="msg">
    </ion-textarea> -->
  </span>
  <span >
    <ion-icon (click)="mandar()"class="" style="color:#c7e5ee;font-size: 30px !important;" slot="end"  name="paper-plane-outline">
    </ion-icon>
  </span>
</ion-footer>