
.img-wrapper {
    min-height: 250px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    span{
      position: relative;
      left: -30%;
      top: 5px;
      border-radius: 2px;
      padding: 2px 2px;
      height: 10px;
      background: #28be64;
      color: white;
    }
    div{
      position: relative;
      top: 125px;
      background: rgba(114, 114, 114, 0.493);
      width: 100%;
      height: 90px;
      padding: 0px 2px;
      p{
  
        color: white;
      }
    }
  }
  .img-wrapper:hover{
    min-height: 250px;
    div{
      top: 122px;
    }
  }
  .img-wrapper1 {
    min-height: 250px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    
    div{
      position: relative;
      top: 160px;
      background: rgba(114, 114, 114, 0.493);
      width: 100%;
      height: 90px;
      padding: 0px 2px;
      p{
  
        color: white;
      }
    }
  }
  .img-wrapper1:hover{
    min-height: 250px;
    div{
      top: 157px;
    }
  }
  
  .slide1{
    height: 375px;
    width: 550px;
    background-repeat: no-repeat;
  }
  .ionslide{
    padding: 5px 5px;
    border-radius: 5px;
    background: rgba(187, 187, 187, 0.486);
  }
  ion-item{
      font-size: 20px;
  }