
 $phone-width: 480px;
 $tablet-width: 768px;
 $desktop-width: 1024px;
h3{
     color: rgb(2, 36, 7);
 }
 div span{
    .image{
        border-radius: 50px;
        img{
            border-radius: 50px;
            position: relative;
            padding: 0px 35%;
            //left:30% !important;
            
        }
    }
 }
 /*@media (min-width: 0px) and (max-width: 500px) 
{
    ion-list{
        position: relative;
        display: block;
        height: 90%;
        width: 100%;
        border:1px solid rgb(4, 146, 75);
        border-radius: 10px;
        --background: transparent;
        background:  rgba(228, 255, 187, 0.596);
        ion-button{
            position: relative;
            top: 50px;
            left: calc(100% - (150px))!important;
        }
        ion-item{
            --background: transparent;
            width: 90%;
            left: calc(100% - (90%))!important;

        }
        .image{
            border-radius: 10px;
            img{
                border-radius: 15px;
                position: relative;
                left:calc(100% - (80%))!important;
                width: 60%; 
            }
        }
    }
}
@media (min-width: 501px) and (max-width: #{$tablet-width}) 
{
    ion-list{
        position: relative;
        display: block;
        height: 100%;
        width: 100%;
        border:1px solid rgb(4, 146, 75);
        border-radius: 10px;
        --background: transparent;
        background:  rgba(228, 255, 187, 0.596);
        ion-button{
            position: relative;
            top: 95px;
            left: calc(100% - (150px))!important;
        }
        ion-item{
            --background: transparent;
            width: 70%;
            left: calc(100% - (85%))!important;

        }
        .image{
            border-radius: 10px;
            img{
                border-radius: 15px;
                position: relative;
                left:calc(100% - (70%))!important;
                width: 40%; 
            }
        }
    }
}
@media  (min-width: #{$tablet-width})  
{
    ion-list{
        position: relative;
        display: block;
        height: 70%;
        width: 50%;
        border:1px solid rgb(4, 146, 75);
        --background: transparent;
        background:  rgba(228, 255, 187, 0.596);
        border-radius: 10px;
        top: calc(100% - (600px));
        left: calc(100% - (75%)) !important;
        ion-button{
            position: relative;
            top: 20px;
            left: calc(100% - (150px))!important;
        }
        ion-item{
            --background: transparent;
        }
        .image{
            border-radius: 10px;
            img{
                border-radius: 15px;
                position: relative;
                left:calc(100% - (70%))!important;
                width: 150px; 
            }
        }
    }
}*/
