<ion-header>
  <ion-toolbar >
    <ion-button slot="start" fill="none" (click)="close()">
      <ion-icon name="close">
      </ion-icon>
    </ion-button>
    <ion-title class="ion-text-center">Actualizar Contraceña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>
    <ion-item>
      <p ><strong>Contraceña actual:</strong></p>
      <ion-input type="password" readonly="true" slot="end" placeholder="Contraceña Actual" [(ngModel)]="contracena_actual"  maxlength="20" required ></ion-input>
    </ion-item>
    <ion-item>
      <p ><strong>Ingrese su nueva contraceña:</strong></p>
      <ion-input type="password" slot="end" placeholder="Contraceña Nueva" [(ngModel)]="contracena_nueva"  maxlength="20" required #autofocus (keyup)="inputVa($event)"></ion-input>
    </ion-item>
    <ion-item>
      <p ><strong>Repita su nueva contraceña:</strong></p>
      <ion-input type="password" slot="end" placeholder="Contraceña Nueva" [(ngModel)]="contracena_nueva_rep"  maxlength="20" required (keyup)="inputVa($event)"></ion-input>
    </ion-item>
   
    <hr>
    <ion-button (click)="actualizar()" color="primary" >Actualizar<ion-icon slot="end" [ios]="'create' + '-outline'" [md]="'create' + '-sharp'"></ion-icon></ion-button>
    <hr>
    <div 
    *ngIf="al=='1'" style="text-decoration-line: underline;cursor: pointer;text-align: center;color: rgb(165, 12, 12);background: rgb(230, 185, 185); width: 100%; height: 30px;border-radius: 10px;padding: 5px 5px;">
      <span style="position:relative;">Las contraceñas no coinciden.</span>
    </div>
    <div 
    *ngIf="vacios=='1'" style="text-decoration-line: underline;cursor: pointer;text-align: center;color: rgb(165, 12, 12);background: rgb(230, 185, 185); width: 100%; height: 30px;border-radius: 10px;padding: 5px 5px;">
      <span style="position:relative;">Debe Completar los espacios vacios</span>
    </div>
  </ion-list>
  

</ion-content>
