@font-face {@font-face {
    font-family: 'emoji';
    src: url('../../../assets/fonts/emojione-color-master/EmojiOneColor.otf')
    format('otf');
  }}
  ion-content {
    background: rgb(203, 247, 190);
    //height: 100px;
    //width: 50px;
    
  }