
<ion-content >


<ion-list>
  <span style='font-size:20px;' id="emo" onclick="alerta('😀')" >😀</span>

  <span style='font-size:20px;' id="emo" onclick="alerta('🤣')" >🤣</span>

  <span style='font-size:20px;' id="emo" onclick="alerta('😇')" >😇</span>

  <span style='font-size:20px;' id="emo" onclick="alerta('🙃')" >🙃</span>

  <span style='font-size:20px;' id="emo" onclick="alerta('😉')" >😉</span>
  <span style='font-size:20px;' id="emo" onclick="alerta('😍')" >😍</span>
  <span style='font-size:20px;' id="emo" onclick="alerta('🥰')" >🥰</span>
</ion-list>




</ion-content>